{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Ecowiser Assignment</h1>
            <p>Ecowiser Assignment is a platform that helps you to monitor your energy consumption and make informed decisions to reduce your carbon footprint.</p>
            <p>Sign up now to start tracking your energy usage and get personalized recommendations to save money and reduce your impact on the environment.</p>
        </div>
    </div>
</div>

{% endblock content %}


